<div class="accordion mt-3" id="add-employee">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panel-salaryDetail">
      <button
        class="accordion-button collapsed fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#salary-detail"
        aria-expanded="false"
        aria-controls="salary-detail"
      >
        Salary Detail
      </button>
    </h2>
    <div
      id="salary-detail"
      class="accordion-collapse collapse"
      aria-labelledby="panel-salaryDetail"
    >
      <div class="accordion-body pt-5">
        <div class="row gy-4">
          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="number"
                class="form-control"
                id="amount"
                placeholder=""
              />
              <label for="amount">Amount *</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-floating">
              <select
                class="form-select"
                id="payrollType"
                aria-label="payrollType"
              >
                <option selected value="monthly">Monthly</option>
              </select>
              <label for="payrollType">Payroll Type *</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-floating">
              <select
                class="form-select"
                id="currencyType"
                aria-label="currencyType"
              >
                <option selected value="rs">Rs</option>
              </select>
              <label for="currencyType">Currency Type</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
