<div class="accordion mt-3" id="add-employee">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panel-salaryDetail">
      <button
        class="accordion-button collapsed fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#salary-detail"
        aria-expanded="false"
        aria-controls="salary-detail"
      >
        Salary Detail
      </button>
    </h2>
    <div
      id="salary-detail"
      class="accordion-collapse collapse"
      aria-labelledby="panel-salaryDetail"
    >
      <div class="accordion-body pt-5">
        <div class="row gy-4">
          <div class="col-md-4">
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="number" id="amount" class="form-control" required />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="payrollType">Payroll Type</label>
              <input
                type="text"
                id="payrollType"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="currencyType">Currency Type</label>
              <input
                type="text"
                id="currencyType"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
