<div class="accordion mt-3" id="add-employee">
  <div class="accordion-item">
    <h2 class="accordion-header rounded-3" id="panel-bankAccountDetail">
      <button
        class="accordion-button collapsed fw-bold gap-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#bank-account-detail"
        aria-expanded="false"
        aria-controls="bank-account-detail"
      >
        <span>
          <i
            *ngIf="!bankAccountFormGroup.valid"
            class="fa-solid fa-circle-info text-warning"
          ></i>
          <i
            *ngIf="bankAccountFormGroup.valid"
            class="fa-solid fa-circle-check text-success"
          ></i>
        </span>
        Bank Account Detail
      </button>
    </h2>
    <div
      id="bank-account-detail"
      class="accordion-collapse collapse"
      aria-labelledby="panel-bankAccountDetail"
    >
      <div class="accordion-body pt-5">
        <form [formGroup]="bankAccountFormGroup">
          <div class="row gy-4">
            <div class="col-md-4">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="paymentMode"
                  aria-label="paymentMode"
                  formControlName="paymentMode"
                >
                  <option selected value="bank">Bank Transfer</option>
                  <option value="mfb">Microfinance Bank</option>
                  <option value="cash">Cash</option>
                </select>
                <label for="paymentMode">Payment Mode *</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="bankName"
                  placeholder=""
                  formControlName="bankName"
                />
                <label for="bankName">Bank Name *</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="accountNumber"
                  placeholder=""
                  formControlName="accountNumber"
                />
                <label for="accountNumber">Account Number *</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="phoneNumber"
                  placeholder=""
                  formControlName="phoneNumber"
                />
                <label for="phoneNumber">Phone Number *</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="iban"
                  placeholder=""
                  formControlName="iban"
                />
                <label for="iban">IBAN</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="accountTitle"
                  placeholder=""
                  formControlName="accountTitle"
                />
                <label for="accountTitle">Account Title *</label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
