<div class="accordion mt-3" id="add-employee">
  <div class="accordion-item">
    <h2 class="accordion-header rounded-3" id="panel-officialInformation">
      <button
        class="accordion-button collapsed fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#official-information"
        aria-expanded="false"
        aria-controls="official-information"
      >
        Official Information
      </button>
    </h2>
    <div
      id="official-information"
      class="accordion-collapse collapse"
      aria-labelledby="panel-officialInformation"
    >
      <div class="accordion-body pt-5">
        <div class="row gy-4">
          <div class="col-md-4">
            <div class="form-floating">
              <select class="form-select" id="jobType" aria-label="job type">
                <option selected value="full time">Full Time</option>
                <option value="part time">Part Time</option>
              </select>
              <label for="jobType">Jop Type *</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-floating">
              <select
                class="form-select"
                id="department"
                aria-label="department"
              >
                <option selected value="website development">
                  Website Development
                </option>
                <option value="sqa">SQA</option>
              </select>
              <label for="department">Department *</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-floating">
              <select
                class="form-select"
                id="designation"
                aria-label="designation"
              >
                <option selected value="jr developer">Jr. Developer</option>
                <option value="sqa engineer">SQA Engineer</option>
              </select>
              <label for="designation">Designation *</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-floating">
              <select class="form-select" id="manager" aria-label="manager">
                <option selected value="safdar">Safdar</option>
                <option value="haider">Haider</option>
              </select>
              <label for="manager">Reporting Manager</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="date"
                class="form-control"
                id="hireDate"
                placeholder=""
              />
              <label for="hireDate">Hire Date</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="date"
                class="form-control"
                id="joiningDate"
                placeholder=""
              />
              <label for="joiningDate">Joining Date</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-floating">
              <select
                class="form-select"
                id="employeeType"
                aria-label="employeeType"
              >
                <option selected value="permanent">Permanent</option>
                <option value="contract">Contract</option>
                <option value="internship">Internship</option>
              </select>
              <label for="employeeType">Employee Type</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="number"
                class="form-control"
                id="probation"
                placeholder=""
              />
              <label for="probation">Probation Duration (Months)</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-floating">
              <input
                type="date"
                class="form-control"
                id="endDate"
                placeholder=""
              />
              <label for="endDate">End Date</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
