<div class="accordion mt-3" id="add-employee">
  <div class="accordion-item">
    <h2 class="accordion-header rounded-3" id="panel-officialInformation">
      <button
        class="accordion-button collapsed fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#official-information"
        aria-expanded="false"
        aria-controls="official-information"
      >
        Official Information
      </button>
    </h2>
    <div
      id="official-information"
      class="accordion-collapse collapse"
      aria-labelledby="panel-officialInformation"
    >
      <div class="accordion-body pt-5">
        <div class="row gy-4">
          <div class="col-md-4">
            <div class="form-group">
              <label for="jobType">Job Type</label>
              <input type="text" id="jobType" class="form-control" required />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="department">Department</label>
              <input
                type="text"
                id="department"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="designation">Designation</label>
              <input
                type="text"
                id="designation"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="reportingManager">Reporting Manager</label>
              <input
                type="text"
                id="reportingManager"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="hireDate">Hire Date</label>
              <input type="date" id="hireDate" class="form-control" required />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="joiningDate">Joining Date</label>
              <input
                type="date"
                id="joiningDate"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="employeeType">Employee Type</label>
              <input
                type="text"
                id="employeeType"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="probationDuration">Probation Duration (Months)</label>
              <input
                type="text"
                id="probationDuration"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="endDate">End Date</label>
              <input type="date" id="endDate" class="form-control" required />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
