<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="my-4 text-center">This App is built for Practice</h3>
    </div>
    <!-- <div class="col-md-12">
            <h3 class="alert alert-dark my-4">Services Practice Section</h3>
            <hr>
            <app-servicep></app-servicep>
        </div> -->
    <div class="col-md-12">
      <!-- <h3 class="alert alert-dark my-4 text-center">
        Services Assignment Section
      </h3>
      <hr />
      <app-services-assignment></app-services-assignment> -->
      <h3 class="alert alert-dark my-4 text-center">
        Routing Practice Section
      </h3>
      <hr />
      <app-routing-practice></app-routing-practice>
    </div>
  </div>
</div>