<div class="accordion mt-3" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button
        class="accordion-button fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne"
        aria-expanded="true"
        aria-controls="panelsStayOpen-collapseOne"
      >
        Personal Information
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="panelsStayOpen-headingOne"
    >
      <div class="accordion-body pt-5">
        <form [formGroup]="formGroup">
          <div class="mb-5 w-25 mx-auto">
            <label for="profileImage" class="form-label">Profile Image</label>
            <input class="form-control" type="file" id="profileImage" />
          </div>
          <div class="d-flex gap-5">
            <div class="row gy-4 w-75">
              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    placeholder=""
                    formControlName="firstName"
                  />
                  <label for="firstName">First Name *</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    placeholder=""
                    formControlName="lastName"
                  />
                  <label for="lastName">Last Name *</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <select class="form-select" id="gender" aria-label="gender">
                    <option selected value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                  </select>
                  <label for="gender">Gender *</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="number"
                    class="form-control"
                    id="cnic"
                    placeholder=""
                  />
                  <label for="cnic">CNIC *</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="date"
                    class="form-control"
                    id="dob"
                    placeholder=""
                  />
                  <label for="dob">Date of Birth</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="number"
                    class="form-control"
                    id="contact"
                    placeholder=""
                  />
                  <label for="contact">Contact</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control is-invalid"
                    id="email"
                    placeholder=""
                  />
                  <label for="email">Email *</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="country"
                    placeholder=""
                  />
                  <label for="country">Country *</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="floatingState"
                    aria-label="Floating state"
                  >
                    <option selected value="punjab">Punjab</option>
                    <option value="sindh">Sindh</option>
                    <option value="kpk">KPK</option>
                  </select>
                  <label for="floatingState">State / Province</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="floatingCity"
                    aria-label="Floating city"
                  >
                    <option selected value="lahore">Lahore</option>
                    <option value="gujranwala">Gujranwala</option>
                    <option value="islamabad">Islamabad</option>
                  </select>
                  <label for="floatingCity">City</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingAddress"
                    placeholder=""
                  />
                  <label for="floatingAddress">Address</label>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-center">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="filer"
                  />
                  <label class="form-check-label" for="filer"> Filer </label>
                </div>
              </div>
            </div>
            <div style="width: '437px'; position: relative">
              <label for="cnicImage" class="form-label">CNIC Image</label>
              <input class="form-control" type="file" id="cnicImage" />
            </div>
            <!-- <div style="width: '337px'; position: relative">
            <div
              class="d-flex align-items-center justify-content-center"
              style="
                position: absolute;
                top: 2px;
                right: 2px;
                height: 24px;
                width: 24px;
                border-radius: 50%;
                padding: 7px;
                z-index: 9;
              "
            >
              <span
                class="position-absolute top-0 end-0 bg-danger rounded-circle p-2"
              >
                <i class="fas fa-times"></i>
              </span>
            </div>
            <div>
              <input
                hidden
                accept=".jpg, .jpeg, .png"
                type="file"
                id="CNICImage"
                name="CNICImage"
              />
              <img alt="CNIC " width="100%" height="100%" />
              <span
                style="
                  height: 48px;
                  width: 48px;
                  border-radius: 50%;
                  padding: 5px;
                  cursor: pointer;
                  position: absolute;
                "
              >
                <i class="fa-solid fa-plus"></i>
              </span>
              <h4>Upload a valid copy of your CNIC</h4>
              <h4>JPG & PNG formats are supported</h4>
            </div>
          </div> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
