<div class="accordion mt-3" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button
        class="accordion-button fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne"
        aria-expanded="true"
        aria-controls="panelsStayOpen-collapseOne"
      >
        Personal Information
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="panelsStayOpen-headingOne"
    >
      <div class="accordion-body pt-5">
        <div class="row gy-4">
          <div class="col-md-4">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input
                type="text"
                id="firstname"
                class="form-control"
                required
                placeholder="John"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input
                type="text"
                id="lastname"
                class="form-control"
                required
                placeholder="Smith"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="gender">Gender</label>
              <input type="text" id="gender" class="form-control" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="cnic">CNIC</label>
              <input type="number" id="cnic" class="form-control" required />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input type="date" id="dob" class="form-control" required />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="contact">Contact</label>
              <input type="number" id="contact" class="form-control" required />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" required />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" id="country" class="form-control" required />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="province">Province / State</label>
              <input type="text" id="province" class="form-control" required />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" id="city" class="form-control" required />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" id="address" class="form-control" required />
            </div>
          </div>

          <div class="col-md-4 d-flex align-items-end">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="filer"
              />
              <label class="form-check-label" for="filer"> Filer </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
